attrs==16.3.0
beautifulsoup4==4.5.1
bs4==0.0.1
cffi==1.9.1
chardet==2.3.0
constantly==15.1.0
cryptography==1.7.1
decorator==4.0.10
eatiht==0.1.14
enum34==1.1.6
Flask==0.10.1
idna==2.2
incremental==16.10.1
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.8
klein==16.12.0
lxml==3.7.1
MarkupSafe==0.23
networkx==1.11
nltk==3.2.1
numpy==1.11.3
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
pyOpenSSL==16.2.0
requests==2.12.5
scipy==0.18.1
service-identity==16.0.0
six==1.10.0
summa==0.0.7
textteaser==0.3
treq==16.12.0
Twisted==16.6.0
Werkzeug==0.11.13
zope.interface==4.3.3
