.subtext { font-family:Verdana, Geneva, sans-serif; font-size:  7pt; color:#828282; margin-top:3px }
.sublink { font-family:Verdana, Geneva, sans-serif; font-size:  7pt; color:#828282; margin-top:3px; text-decoration: none; }
.sublink:hover {text-decoration: underline;}
.bodytext {
  margin:auto; padding:0 1em 0; line-height:1.5;
  padding-top: 10px;
}
.storytitle { color:#000000; text-decoration:none; font-weight:bold;}
.rank { font-family:Verdana, Geneva, sans-serif; font-size:  10pt; color:#828282;text-align: -webkit-right; width: auto }
.bookmark{ display: inline; font-family:Verdana, Geneva, sans-serif; font-size:  7pt; color:#828282; margin-right:5px; float: right }
.morelink {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  text-decoration: underline;
}

.footer {
  width: 800px;
  max-width: 90%;
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
}

 h4 {
  background-color:#FF6600;
  padding-left:20px;
  padding-top:6px;
  padding-bottom:6px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-family:Verdana, Geneva, sans-serif;
  font-size: 10pt;
  background-image: url( y18.gif);
  background-position: left;
  background-repeat: no-repeat;
}

body {
    padding-bottom: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.7em 0;
    padding: 0;
}

.container {
    width: 800px;
    max-width: 90%;
    background-color:#F6F6EF;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
